#body { 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #main {
    display: grid;
    grid-auto-flow: column;  
    grid-template-columns: 1fr 2fr;
    border: 1px solid rgb(215, 212, 212); 
    border-radius: 5px;
    background-color: white;
    
  }



#outer{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  #center{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 750px;
  }
  
  #header {
    padding: 16px;
    background-color: #8d827a;
    color: white;
    font-size: 1.2em;
    display: flex; 
    justify-content: space-between;
  }

  #header span:nth-child(2){
    display: grid; 
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    /* justify-items: stretch; */
    gap: 32px;
  }
  

  #header a {
    border: 1px solid white;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    height: 100%;
  }

  #header .dropDown { 
    border: 1px solid white; 
    background-color: inherit;
    color: inherit;
  }

  .dropDown > option { 
    color: black; 
  }

  .button {
    border-radius: 4px;
    color: white;
    padding: 8px 12px 9px 12px;
    font-weight: 500;
    letter-spacing: .08929em;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.2), 
                0 1px 5px 0 rgba(0,0,0,.12);
    height: 36px;
    background-color: #E30300;
  }

  .button:hover{
    background-color: #ec7573;
  }
  
  #left {

    
  }

#right{

}
  



  .underline{ 
    text-decoration: underline;
  }

  .dropDown{
    background-color: rgb(215, 213, 213);
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: black;
  }

  #listContainer{
    display: flex; 
    justify-content: space-between;
   
  }


  #box{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  

  .buttonContainer{
    display : flex; 
    justify-content: space-between;

  }


  .icon {
    width: 24px;
    height: 24px;
  }

  #statusList {
    list-style: none;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }


  .statusItem {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(191, 182, 182);
    border-radius: 10px;
    padding: 16px 8px;
    background-color: white;
  }


  #courseList{
    display: grid;
    grid-auto-rows: 1fr;
   
  }

  .smallText{
    font-size: 0.8em;
  }

  .course{
    display: flex;
    padding: 16px;
    gap: 32px;
    justify-content: space-between;
  }


  .action{
    display: flex;
    flex-direction: column;
  }

  .nav{ 
    display: grid;
    grid-auto-flow: column;
    gap: 32px; 
    padding-top: 16px;
    border-top: 1px solid #d7d4d4;
  }

  .white{
    color: black;
    font-weight: bold;
    background-color: white;
  }

  .white:hover{
    background-color: rgb(212, 212, 212);
  }

