html, body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.column {
    background-color: #f5f5f5;
    transition: width 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open {
    width: 300px;
}

.closed {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.arrow {
    font-size: 18px;
    color: white;
    background-color: #ae1818;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 10px; 
}

.arrow:hover {
    background-color: #8c1515;
}

.column.open .arrow {
    left: 10px; 
}


.column.closed .arrow {
    left: 50%;
    transform: translateX(-50%);
}


.savedSchedules {
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}


.savedSchedules h2 {
    font-size: 24px;
    color: #840f0f; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -5px;
}

.schedule {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 260px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.schedule h3 {
    font-size: 18px;
    color: #333; 
}

.scheduleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.editIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 8px;
    transition: transform 0.2s ease-in-out;
}

.editIcon:hover {
    transform: scale(1.2);
}

.editInput {
    font-size: 16px;
    color: #333;
    padding: 4px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.scheduleImage {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.schedule button {
    background-color: #ae1818;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.schedule button:hover {
    background-color: #8c1515;
}


