#body { 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  #main {
    display: grid;
    grid-auto-flow: column;  
    grid-template-columns: 1fr 2fr;
    border: 1px solid rgb(215, 212, 212); 
    border-radius: 5px;
  }


  #outer{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  32px;
    flex-direction: column;
    gap: 32px;
  }
  
  #header {
    padding: 16px;
    background-color: #8d827a;
    color: white;
    font-size: 1.2em;
  }
  
  #button {
    border-radius: 4px;
    color: white;
    padding: 8px 12px 9px 12px;
    font-weight: 500;
    letter-spacing: .08929em;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
                0 3px 1px -2px rgba(0,0,0,.2), 
                0 1px 5px 0 rgba(0,0,0,.12);
    height: 36px;
    background-color: #E30300;
  }

  #button:hover{
    background-color: #ec7573;
    cursor: pointer;
  }
  
  #left {

    
  }

#right{

}
  

  .underline{ 
    text-decoration: underline;
  }

  .dropDown{
    background-color: rgb(215, 213, 213);
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
  }

  #listContainer{
    display: flex; 
    justify-content: space-between;
   
  }


  #box{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  

  .buttonContainer{
    display : flex; 
    justify-content: space-between;

  }


  .icon {
    width: 24px;
    height: 24px;
  }

  #statusList {
    list-style: none;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }


  .statusItem {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(191, 182, 182);
    border-radius: 10px;
    padding: 16px 8px;
    background-color: white;
  }


  #courseList{
    display: grid;
    height: 100%;
   
  }

  .smallText{
    font-size: 0.8em;
  }

  .course{
    display: flex;
    padding: 16px;
    gap: 32px;
    justify-content: space-between;
  }


  .action{
    display: flex;
    flex-direction: column;
  }

